<h2>Let the game begin ...</h2>

<h3><%=@name%>, make your choice:</h3>

<form action='/result' method="post">
	<input type="radio" name="choice" value="rock" id="choice_rock">rock<br>
	<input type="radio" name="choice" value="paper">paper<br>
	<input type="radio" name="choice" value="scissor">scissor<br>
<br>
	<input type="submit" value="Fight!">
</form>