<h1>Rock Paper Scissors: The Game</h1>

<% if @name %>
	<h3>Welcome <%=@name%>, let's get started</h3>
<% end %>

<form action='/new_player' method="post">
	Name:<input type="text" name="name">
		<input type="submit" value="Sign In">
</form>

